<div id="graph">
    
</div>

<script>

    export default {

        onrender() {

            const $graph = $('#graph');
            var force, link, node;
            const graph = this.get('data');
            const height = $graph.height();
            var svg;
            const primarytype = this.get('primarytype');
            const primarytypecolor = this.get('primarytypecolor');
            const categorytype = this.get('categorytype');
            const categorytypecolor = this.get('categorytypecolor');
            const width = $graph.width();
            const radius = this.get('noderadius');

            click = click.bind(this); // allows using this.fire() etc...

            function init() {

                svg = d3.select('#graph').append('svg').attr('viewBox', '0 0 ' + width + ' ' + height).attr('width', width).attr('height', height);

                force = d3.layout.force()
                        .size([width, height])
                        .gravity(.05)
                        .distance(200)
                        .charge(-1000)
                        .friction(.6)
                        .on('tick', tick);

                link = svg.selectAll('.link');
                node = svg.selectAll('.node');
            }

            function update() {
                const result = getConnections();

                // Restart the force layout.
                force.nodes(result.nodes)
                        .links(result.links)
                        .start();

                // Update links.
                link = link.data(result.links);

                link.exit().remove();

                link.enter().insert("line")
                        .attr("class", "link");

                // Update nodes.
                node = node.data(result.nodes, function(d) {
                    return d.id;
                });

                node.exit().remove();

                const nodeEnter = node.enter()
                        .append("g")
                        .attr("class", "node")
                        .call(force.drag);

                nodeEnter.append("text")
                        .attr("class", function(d){
                            if(d.type.toLowerCase() === primarytype.toLowerCase()){
                                return 'primary';
                            }
                            return 'category';
                        })
                        .attr("dy", ".35em")
                        .text(function(d) { return d.label; })
                        .on("click", click);
            }

            function getConnections() {

                // first get an array of all primary and category types combined
                const nodes = graph.filter(function(n) {
                    return n.type.toLowerCase() === primarytype.toLowerCase() || n.type.toLowerCase() === categorytype.toLowerCase();
                });

                // now get an array of how each primary and category type is connected
                const links = [];

                for (let i = 0; i < nodes.length; i++) {
                    const n = nodes[i];

                    if (n.type.toLowerCase() === primarytype.toLowerCase()) {
                        const t = n[categorytype].split(',');
                        for (let j = 0; j < t.length; j++){
                            // for each connection, push a new object to links
                            links.push({
                                "source": i,
                                "target": nodes.findIndex(function(x) {
                                    return x.id.toLowerCase() === t[j].trim().toLowerCase();
                                })
                            });
                        }
                    }
                }

                return {
                    nodes: nodes,
                    links: links
                };
            }

            function tick() {

                link.attr('x1', function(d) { return d.source.x; })
                    .attr('y1', function(d) { return d.source.y; })
                    .attr('x2', function(d) { return d.target.x; })
                    .attr('y2', function(d) { return d.target.y; });

                node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

                node.attr("cx", function(d) { return d.x = Math.max(radius, Math.min(width - radius, d.x)); })
                    .attr("cy", function(d) { return d.y = Math.max(radius, Math.min(height - radius, d.y)); });
            }

            function click(d) {
                if (d3.event.defaultPrevented) return; // ignore drag
                this.fire('nodeselected', d);
                update();
            }

            init();
            update();
        },

        methods: {
            nodeselected(node) {
                alert(node);
            }
        }
	}

</script>

<style>
    
    

</style>